[Unit]
Description=Server script for communication with the PurePhotonics micro ITLA.
After=network.target

[Service]
ExecStart=/usr/bin/python3 ~/lightlab/lightlab/equipment/lab_instruments/EMCORE_microITLA_LS_server.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
