[Unit]
Description=Server script for communication with the PurePhotonics micro ITLA.
After=network.target

[Service]
Environment="USER_HOME=$(eval echo ~$SUDO_USER)"
ExecStart=python3 ${USER_HOME}/lightlab/lightlab/equipment/lab_instruments/EMCORE_microITLA_LS_server.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
